a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #F08080;
}
/*a:visited {
    color: black;
}*/
body {
    margin-right: 20px;
    margin-left: 1px;
    padding-left: 0px;
}