.b1 {
    background: #FFFAFA;
    height: 100%;
    padding-top: 0px;
    border-radius: 10px;
    color: black;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
	80% {
		transform: translateY(-6px);
		transform: translateY(-6px);
	}
}
button:hover {
	animation: bounce 1s;
}
a {
    color: black;
}
a:checked {
    color: black;
}
max-width: 992px {
    
}
form {
    padding-left: 1260px;
    display: block; 
    word-spacing: 5px;
}
@media only screen and (max-width : 375px) {
    form {
    padding-left: 100px;
    display: block; 
    word-spacing: 5px;
    }
}