.b1 {
    background: #FFFAFA;
    height: 100%;
    border-radius: 15%;
    color: black;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
	80% {
		transform: translateY(-6px);
		transform: translateY(-6px);
	}
}
button:hover {
	animation: bounce 1s;
}
a {
    color: black;
}
a:checked {
    color: black;
}
form {
    margin-left: 26%;
    display: block; 
    word-spacing: 2%;
}
img {
   min-width: 120px;
}
@media only screen and (max-width : 1170px) {
    img {
        min-width:  130px;
    }
}
@media only screen and (max-width : 1170px) {
    img {
        min-width:  100px;
    }
}
@media only screen and (max-width : 340px) {
    img {
        min-width:  100px;
    }
}